body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(83, 200, 220);
}

#mensaje {
    font-family: Arial, sans-serif; 
    font-size: 28px;
    font-weight: 800;
    color: #f51a1a; 
    height: 30px;
    text-align: center;
}

.contenedor{
height: 70px;
width: 80px;
background-color: #c4b18200;
display: flex;
align-items: center;
justify-content: center;
border-radius: 2rem;
margin:  10px 8px;
box-shadow: inset 0px 0px 9px 1px #ffffff9e; 
border: 4px solid #ffffff92;
}

.cuenta {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#dias, #horas, #minutos, #segundos {
    font-family: Arial, sans-serif; 
    font-size: 23px;
    font-weight: 800;
    color: white; 
}

.contenedor {
    display: flex;
}

.letras {
    display: flex;
    justify-content: space-around;
}

.dia, .hora, .minuto, .segundo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 800;
    color: white;
    height: 20px;
    width: 20px; 
}

.botones {
    display: flex;
    justify-content: center;
    margin-top: 50px; 
}

.botones button{
    padding: 15px ;
    outline: none;
    border: none;
    margin:  10px 2px;
    color:  rgb(202, 1, 1);
    background: #FEE1C7;
    font-size: 20px;
    font-weight: 500;
    border-radius: 1.7rem;
    cursor: pointer;
}
.botones button.on{
    pointer-events: none;
    opacity: .7;
}

.botones button.boton{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #FEE1C7;
}


.botones button.botonI{
    background: rgb(202, 1, 1);
    color:#FEE1C7
}

.botones button.botonI:hover {
    background: rgb(1, 202, 35);
    color:#000000
}

.santaOff{
    width: 600px;
    height: 550px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url("../img/papaNoel.png");
    background-repeat: no-repeat;
}

.santaOff.on{
    background-image: url("../img/baile.gif");
}
.santaOnOff{
    width: 100px;
    height: 50px;
    background-color: rgb(253, 93, 0);
    border-radius: 1vh;
    border: .2rem solid rgb(224, 120, 59);
    position: fixed;
    color: antiquewhite;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: monospace;
    cursor: pointer;
}
.santaOnOff:hover{
    background-color: bisque;
    color: black;
}